* {
  margin: 0;
  padding: 0;
}


/* 遮罩层 */

.layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  // background-color: #000;
  opacity: 0.7;
  padding: 2rem;
  // display: none;
}

.layer1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: #000;
  opacity: 0.7;
  padding: 2rem;
  display: none;
}

/* 弹出层 二维码 */

.tipMsg {
  position: fixed;
  top: 18%;
  left: calc(50% - 14rem);
  z-index: 150;
  width: 28rem;
  /* height: 45rem; */
  box-sizing: border-box;
  border-radius: .5rem;
  text-align: center;
  background: #fff;
  padding: 1rem;
  box-sizing: border-box;
  // display: none;
  box-shadow: 2px 2px 2px 2px #333;
}

.tipMsg h3,
.tipMsg .code {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.qrCode {
  width: 20rem;
  height: 20rem;
  border-radius: .5rem;
  margin: 2rem auto;
  position: relative;
}

#qrCode img {
  width: 100%;
  height: 100%;
  z-index: 100;
}

#qrCode canvas {
  width: 100%;
  height: 100%;
}

.logoQr {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
}

.shareIcon {
  overflow: hidden;
  font-size: 1.3rem;
  /* margin-top: 4.5rem; */
}

.shareIcon div {
  float: left;
  width: 33.33%;
  text-align: center;
}

.shareIcon div img {
  width: 6rem;
  height: 6rem;
}

.layui-layer {
  width: 16rem !important;
  margin: 0 auto;
}